$bgc:#22b8cf;

.TodoTemplate{
    width: 512px;
    margin: 6rem auto; // 바디 폰트 18px * 6 = 108px
    border-radius: 4px;
    overflow: hidden;
    .app-title{
        background-color: $bgc;
        color: #fff;
        height: 4rem; // 72px
        font-size: 1.5rem; // 27px
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content{
        background-color: #fff;
    }
}